html, body{
    height: 100%;
}
p{
    font-family: 'Open Sans', sans-serif;    
    padding: 0;
    margin: 0;
}
h1, h2, h3{
    font-family: 'Merriweather', serif;
}
h4, h5{
    font-family: 'Open Sans', sans-serif;
}

a{
    color: inherit;
}
a:hover{
    color: #8c9c09;
    text-decoration: none;
}
a:active{
    color: #7a880f;
}

.bg{
    background: #E2E6E4;
    background-image: url(images/background-15.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: #8c9c09;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link{
    color: #E2E6E4;
}

@media only screen and (min-width: 576px){ /* for mobile*/
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2em;
    }
    h3{
        font-size: 1.5em;
    }
    h4{
        font-size: 1.4em;
    }
    h5{
        font-size: 1.2em;
    }
    p{
        font-size: 1.1em;
    }

    #navigation{
        background: #232e27;
    }
}

@media only screen and (min-width: 768px){ /* for tablet*/
    h1{
        font-size: 4em;
    }
    h2{
        font-size: 2.5em;
    }
    h3{
        font-size: 2em;
    }
    h4{
        font-size: 1.7em;
    }
    h5{
        font-size: 1.5em;
    }
    p{
        font-size: 1.1em;
    }

    #navigation{
        background: #232e27;
    }
}

@media only screen and (min-width: 992px){ /* for desktop*/
    h1{
        font-size: 4em;
    }
    h2{
        font-size: 2.5em;
        color: #576B4E;
    }
    h3{
        font-size: 2em;
    }
    h4{
        font-size: 1.8em;
    }
    h5{
        font-size: 1.5em;
    }
    p{
        font-size: 1.2em;
    }

    .navbar{
        font-size: 1.2em;
    }

    .footSpace{
        height: 20px;
    }

    #navigation{
        background: #232e27;
    }

    #pageTitle{
        background: #8DB4C6;
        padding: 1% 5%;
    }
    #pageTitle h2{
        color: #232E27;
    }

    #results{
        padding: 0 5% 50px 5%;
    }

    #footer{
        background-image: url(images/background-20.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        background-color: #232E27;
    }
    #footer .list-group .list-group-item{
        background: inherit;
        border-color: #E2E6E4;
        color: white;
    }
    #footer .list-group .list-group-item h5{
        color:#8DB4C6;
    }
}