html, body{
    height: 100%;
    background: #E2E6E4;
}
p{
    font-family: 'Open Sans', sans-serif;    
    padding: 0;
    margin: 0;
}
h1, h2, h3{
    font-family: 'Merriweather', serif;
}
h4, h5{
    font-family: 'Open Sans', sans-serif;
}

a{
    color: black;
}
a:hover{
    color: #8c9c09;
    text-decoration: none;
}
a:active{
    color: #7a880f;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: #8c9c09;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link{
    color: #E2E6E4;
}

.plainLink{
    text-decoration: none;
    color: inherit;
}

.jumbotron{
    background-image: url(/assets/joshua_tree_np_night_sky_manish_mamtani_ste_hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.full{
    height:100%;
}

.white{
    color: white;
}

#heroCaption{
    padding: 4% 3%;
    background-color: rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 576px){ /* for mobile*/
    h1{
        font-size: 6em;
    }
    h2{
        font-size: 4em;
    }
    h3{
        font-size: 3em;
    }
    h4{
        font-size: 2.5em;
    }
    h5{
        font-size: 1.5em;
    }
    p{
        font-size: 1.1em;
    }

    #navigation{
        background: #232e27;
    }
}

@media only screen and (min-width: 768px){ /* for tablet*/
    h1{
        font-size: 6em;
    }
    h2{
        font-size: 4em;
    }
    h3{
        font-size: 3em;
    }
    h4{
        font-size: 2.5em;
    }
    h5{
        font-size: 1.5em;
    }
    p{
        font-size: 1.2em;
    }

    #navigation{
        background: #232e27;
    }
}

@media only screen and (min-width: 992px){ /* for desktop*/
    h1{
        font-size: 4em;
    }
    h2{
        font-size: 2.5em;
        color: #232e27;
    }
    h3{
        font-size: 2em;
    }
    h4{
        font-size: 2em;
    }
    h5{
        font-size: 1.5em;
    }
    p{
        font-size: 1.2em;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon{
        width:50px;
        height: 50px;
    }

    .navbar{
        font-size: 1.2em;
    }

    .followIcon{
        font-size: .8em;
        padding-left: 1%;
    }

    #navigation{
        background: #232e27;
    }

    #hero{
        padding-top: 0;
        padding-bottom: 0;
        margin:0;
        height: 630px;
    }

    #news{
        padding: 2%;
    }

    #subscribe{
        padding: 2% 2% 1.8% 2%;
        margin-bottom: 2%;
        background: #8DB4C6;
        border-style: solid;
        border-width: thin 0;
        border-color: black;
    }

}